h1 {
	text-align: center;
	font-variant: small-caps;
	text-decoration: overline underline;
}

li {
	font-weight: bold;
	
}



.cat-talk {
	text-align: center;
}

.dog-talk {
	text-align: center;
}



